* {
  opacity: 100%;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
}
body {
  background: url(/img/wall.jpg) fixed center;
  background-size: cover;
  main {
    .line {
      width: 100%;
      height: 0.5px;
      background: #000000;
      margin-bottom: 50px;
    }
    .title-background {
      opacity: 0.85;
      width: 100%;
      height: 75px;
      margin-top: -150px;
      background: #255b4c;
      position: fixed;
    }
    .title {
      opacity: 100%;
      font-size: 35px;
      text-align: center;
      padding-top: 15px;
    }
    .section-1 {
      margin-top: 150px;
      margin-bottom: 50px;
      .container {
        display: flex;
        justify-content: space-around;
        .content {
          background: #255b4c;
          border-radius: 20px;
          height: 520px;
          width: 400px;
          overflow: hidden;
          img {
            margin-top: -25px;
          }
          .text {
            font-size: 20px;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 25px;
          }
          .button {
            display: flex;
            justify-content: center;
            button {
              width: 45%;
              height: 40px;
              background: #193e34;
              border: 2px solid #4e4e4e;
              border-radius: 10px;
              transition: all 0.5s;
              cursor: pointer;
            }
            button:hover {
              background: #24433a;
              width: 50%;
              height: 45px;
            }
          }
        }
      }
    }
    .section-2 {
      .container-2 {
        .box {
          margin-top: 75px;
          display: flex;
          justify-content: space-around;
          .content {
            background: #255b4c;
            border-radius: 20px;
            height: 500px;
            width: 400px;
            overflow: hidden;
            img {
              margin-top: -25px;
              width: 100%;
              height: 370px;
              object-fit: cover;
            }
            .text {
              font-size: 20px;
              text-align: center;
              margin-top: 20px;
              margin-bottom: 25px;
            }
            .button {
              display: flex;
              justify-content: center;
              button {
                width: 45%;
                height: 40px;
                background: #193e34;
                border: 2px solid #4e4e4e;
                border-radius: 10px;
                transition: all 0.5s;
                cursor: pointer;
              }
              button:hover {
                background: #24433a;
                width: 50%;
                height: 45px;
              }
            }
          }
        }
      }
    }
  }
  .line {
    margin-top: 75px;
    width: 100%;
    height: 0.5px;
    background: #000000;
  }
  footer {
    margin-top: 75px;
    width: 100%;
    height: 200px;
    background: #193e34;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 20px;
    }
    p {
      margin-top: 50px;
      font-size: 13px;
    }
  }
  .main-web {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .container-2 {
      display: flex;
      flex-direction: row;
      gap: 50px;
      img {
        object-fit: cover;
        border-radius: 15px;
      }
      .info {
        width: 700px;
        height: 450px;
        background: #255b4c;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        h1 {
          font-size: 25px;
          margin-bottom: 50px;
        }
        p {
          font-size: 20px;
        }
      }
    }
    .button {
      width: 60%;
      height: 40px;
      border-radius: 15px;
      border: none;
      cursor: pointer;
      background: #193e34;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s;
      p{
        font-size: 20px;
      } 
    }
    .button:hover{
      background: #24433a;
      width: 65%;
      height: 45px;
      margin-bottom: -5px;
    }
  }
}
