.body {
  .sec1 {
    .mane-div {
      margin-top: 50px;
      .con-1 {
        display: flex;
        @include margin;

        .satauri {
          text-align: center;         
          font-size: 20px;
        }
        .info {
          justify-content: center;
          margin-top: 60px;
          font-size: 40px;
        }
      }
    }
  }
}
