html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* {
  opacity: 100%;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
}

body {
  background: url(/img/wall.jpg) fixed center;
  background-size: cover;
}
body main .line {
  width: 100%;
  height: 0.5px;
  background: #000000;
  margin-bottom: 50px;
}
body main .title-background {
  opacity: 0.85;
  width: 100%;
  height: 75px;
  margin-top: -150px;
  background: #255b4c;
  position: fixed;
}
body main .title {
  opacity: 100%;
  font-size: 35px;
  text-align: center;
  padding-top: 15px;
}
body main .section-1 {
  margin-top: 150px;
  margin-bottom: 50px;
}
body main .section-1 .container {
  display: flex;
  justify-content: space-around;
}
body main .section-1 .container .content {
  background: #255b4c;
  border-radius: 20px;
  height: 520px;
  width: 400px;
  overflow: hidden;
}
body main .section-1 .container .content img {
  margin-top: -25px;
}
body main .section-1 .container .content .text {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
}
body main .section-1 .container .content .button {
  display: flex;
  justify-content: center;
}
body main .section-1 .container .content .button button {
  width: 45%;
  height: 40px;
  background: #193e34;
  border: 2px solid #4e4e4e;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
}
body main .section-1 .container .content .button button:hover {
  background: #24433a;
  width: 50%;
  height: 45px;
}
body main .section-2 .container-2 .box {
  margin-top: 75px;
  display: flex;
  justify-content: space-around;
}
body main .section-2 .container-2 .box .content {
  background: #255b4c;
  border-radius: 20px;
  height: 500px;
  width: 400px;
  overflow: hidden;
}
body main .section-2 .container-2 .box .content img {
  margin-top: -25px;
  width: 100%;
  height: 370px;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .section-2 .container-2 .box .content .text {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
}
body main .section-2 .container-2 .box .content .button {
  display: flex;
  justify-content: center;
}
body main .section-2 .container-2 .box .content .button button {
  width: 45%;
  height: 40px;
  background: #193e34;
  border: 2px solid #4e4e4e;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
}
body main .section-2 .container-2 .box .content .button button:hover {
  background: #24433a;
  width: 50%;
  height: 45px;
}
body .line {
  margin-top: 75px;
  width: 100%;
  height: 0.5px;
  background: #000000;
}
body footer {
  margin-top: 75px;
  width: 100%;
  height: 200px;
  background: #193e34;
  opacity: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body footer h1 {
  font-size: 20px;
}
body footer p {
  margin-top: 50px;
  font-size: 13px;
}/*# sourceMappingURL=global.css.map */